%hr
%section
  .container
    %article
      %h4.leader Your
      %h3 Day In The Bootcamp
      %p
        We will do a lot in a day, Craft Academy simulate what it is to work in a development environment, this is what an average day looks like in the Craft Academy, but as the Bootcamp advances demos can increase or decrease. The hours of coding will increase and so will the difficulty. 
      %p
        %strong   
          Here's what goes on:

%section.no-padding-top
  .container
    .centered-row
      %table.responsive-table
        %thead
          %tr
            %th Time
            %th Activity
            %th Description
        %tbody
          %tr
            %td{data:{header: "Time"}} 9.00am
            %td{data:{header: "Activity"}} Standup
            %td{data:{header: "Description"}}
              %p Relate what you did yesterday, what you’re planning on today, where you got stuck, and how you got unstuck. Lots of clapping and feel-goods.
          %tr
            %td{data:{header: "Time"}} 9.30am
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair program with each other, working on their weekly project, building real applications using tools and practices that are the standard in modern development environments.
          %tr
            %td{data:{header: "Time"}} 10.00am
            %td{data:{header: "Activity"}} Demo
            %td{data:{header: "Description"}}
              %p The students will take part in a video chat, a coach will talk about a tool or coding concept and also show the students how to use the tool or concept in a codebase.
          %tr
            %td{data:{header: "Time"}} 11.00am
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair program with each other, working on their weekly project, building real applications using tools and practices that are the standard in modern development environments.
          %tr
            %td{data:{header: "Time"}} 12.00pm
            %td{data:{header: "Activity"}} Lunch
            %td{data:{header: "Description"}}
              %p Eat refuel, gather your energy for the afternoon ahead.
          %tr
            %td{data:{header: "Time"}} 13.00pm
            %td{data:{header: "Activity"}} Demo
            %td{data:{header: "Description"}}
              %p The students will take part in a video chat, a coach will talk about a tool or coding concept and also show the students how to use the tool or concept in a codebase.
          %tr
            %td{data:{header: "Time"}} 14.00pm
            %td{data:{header: "Activity"}} Demo
            %td{data:{header: "Description"}}
              %p The students will take part in a video chat, a coach will talk about a tool or coding concept and also show the students how to use the tool or concept in a codebase.
          %tr
            %td{data:{header: "Time"}} 15.00pm
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair program with each other, working on their weekly project, building real applications using tools and practices that are the standard in modern development environments.
          %tr
            %td{data:{header: "Time"}} 16.00pm
            %td{data:{header: "Activity"}} Code Katas 
            %td{data:{header: "Description"}}
              %p We end the day with code katas, katas are the best way to kepp your coding skills up.
          %tr
            %td{data:{header: "Time"}} 17.00pm
            %td{data:{header: "Activity"}} Day ends
            %td{data:{header: "Description"}}
              %p This is the coaches end of the day not the students.
          %tr
            %td{data:{header: "Time"}} 19.00pm
            %td{data:{header: "Activity"}} Project work 
            %td{data:{header: "Description"}}
              %p A day in the bootcamp can be packed full of demos and coach support, student of our bootcamp are expect to work in the evenings on the their projects for a few hours.
