%hr
%section
  .container
    %article
      %h4.leader Your
      %h3 Day In The Bootcamp
      %p
        No day is alike at Craft Academy and the nature of the Bootcamp changes over time. Sometimes we have more demos and talks, and sometimes more project work. At Craft Academy, we simulate how it is to work in an actual development team as much as possible.
      %p
        %strong   
          Here is how a day could look:

%section.no-padding-top
  .container
    .centered-row
      %table.responsive-table
        %thead
          %tr
            %th Time
            %th Activity
            %th Description
        %tbody
          %tr
            %td{data:{header: "Time"}} 9.00am
            %td{data:{header: "Activity"}} Standup
            %td{data:{header: "Description"}}
              %p Relate what you did yesterday, what you’re planning on today, where you got stuck, and how you got unstuck. Lots of clapping and feel-goods.
          %tr
            %td{data:{header: "Time"}} 9.30am
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair program with each other, working on their weekly project, building real applications using tools and practices that are the standard in modern development environments.
          %tr
            %td{data:{header: "Time"}} 10.00am
            %td{data:{header: "Activity"}} Demo
            %td{data:{header: "Description"}}
              %p The students will take part in a video chat, a coach will talk about a tool or coding concept and also show the students how to use the tool or concept in a codebase.
          %tr
            %td{data:{header: "Time"}} 11.00am
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair program with each other, working on their weekly project, building real applications using tools and practices that are the standard in modern development environments.
          %tr
            %td{data:{header: "Time"}} 12.00pm
            %td{data:{header: "Activity"}} Lunch
            %td{data:{header: "Description"}}
              %p Eat & refuel.
          %tr
            %td{data:{header: "Time"}} 13.00pm
            %td{data:{header: "Activity"}} Demo
            %td{data:{header: "Description"}}
              %p Continuation of the previous demo or a new concept being introduced.
          %tr
            %td{data:{header: "Time"}} 14.00pm
            %td{data:{header: "Activity"}} Demo
            %td{data:{header: "Description"}}
              %p Continuation of the previous demo or a new concept being introduced.
          %tr
            %td{data:{header: "Time"}} 15.00pm
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair program with each other, working on their weekly project, building real applications using tools and practices that are the standard in modern development environments.
          %tr
            %td{data:{header: "Time"}} 16.00pm
            %td{data:{header: "Activity"}} Code Katas 
            %td{data:{header: "Description"}}
              %p Sometimes we end our days with code katas, Keep your coding skills sharp.
          %tr
            %td{data:{header: "Time"}} 17.00pm
            %td{data:{header: "Activity"}} Day ends
            %td{data:{header: "Description"}}
              %p During the evening you will work with fellow students on your group assignments and projects, the coaches will see your progress next day.
          %tr
            %td{data:{header: "Time"}} 19.00pm
            %td{data:{header: "Activity"}} Project work 
            %td{data:{header: "Description"}}
              %p A day in the bootcamp can be packed full of demos and coach support, students of our bootcamp are expected to work in the evenings.
%section
  .container
    %article
      %h3 Weekend Challenge
      %p
        %strong
          Every Friday Students will receive a weekend challenge, this will be anything from starting a new project to expanding on the project they have been working on the during the week.  Students are expected to self organise with their team mates to work on the challenge.
%hr