%section
  .container
    %h3 Find us
    %p.copy--left
      You can participate in the Craft Academy Bootcamp remotely, but we believe that the best effects are achieved if the participants work closely with each other and the coaches on site in our offices.

    .vertical-tabs-container
      .vertical-tabs
        %a.js-vertical-tab.vertical-tab.is-active{href: 'javascript:void(0)', rel: 'tab1'} Göteborg
        %a.js-vertical-tab.vertical-tab{href: 'javascript:void(0)', rel: 'tab2'} Stockholm

      .vertical-tab-content-container
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{href: '', rel: 'tab1'} Göteborg
        #tab1.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/queenslab.png', width: '400px'
          %h3 Göteborg
          %p In Gothenburg you will find us at Queenslab, Västra Hamngatan 7c, 411 17.
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: '', rel: 'tab2'} Stockholm
        #tab2.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/firstoffice.png', width: '400px'
          %h3 Stockholm
          %p In Stockholm you will find us in First Office on Isafjordsgatan 19, 164 40, Kista.